*{
  font-family: Garamond, sans-serif;
}

.box__header {
  padding: 0%;
  margin: 0%;
  text-decoration: underline;
}

.info {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 3px solid #73AD21;
  background-color: rgba(202,232,202,0.5)
}

.reminder__text {
  font-size: 50%;
}

.game__board {
  background: #eee;
  padding: 2% 2% 2% 2%;
  border: 2px solid #e5e5df;
  border-radius: 0.5%;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.25);
}

.level__board {
  background: #ccc;
  padding: 1% 1% 1% 1%;
  border: 2px solid #e5e5df;
  border-radius: 1%;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.25);
}

.coin__board {
  position: fixed;
  right: 0;
  display: flex;
  align-items: flex-end;
  margin-top: 1%;
  bottom: 30px;
  width: 300px;
  margin-right: auto;
  margin-bottom: 1%;
  background: rgba(204, 204, 204, 0.5);
  padding: 1% 1% 1% 1%;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.25);
}

.player__board {
  display: flex;
}

.clear__stash:hover {
  background-color: #fff;
}

.take__stash:hover {
  background-color: #fff;
}

.clear__stash {
  border: 2px solid #FB0808;
  margin: 0px 10px;
  flex-grow: 1;
}

.take__stash {
  border: 2px solid #94FB08;
  margin: 0px 10px;
  flex-grow: 1;
}

.stash {
  position: fixed;
  bottom: 140px;
  width: 300px;
  right: 0;
  background: rgba(204, 204, 204, 0.5);
  padding: 1%;
  border: 2px solid #000;
}

.stash__buttons {
  display: flex;
}

.coin__stack {
  display: inline-block;
  text-align: center;
  width: 20%;
  padding: 1%;
}

.player__card {
  padding: 1%;
  vertical-align: text-top;
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
}

.noble__tray {
  vertical-align: text-top;
  display: flex;
  margin: 1%;
  border: 6px solid #e5e5df;
  border-radius: 10px;
  width: 80%;
  position: relative;
}

.wallet {
  vertical-align: text-top;
  margin: 1%;
  border: 6px solid #e5e5df;
  border-radius: 10px;
  width: 20%;
}

.counter {
  display: inline-block;
  text-align: center;
  margin: 1%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-text-stroke: 0.5px black;
  color: white;
}

.aggregate {
  border: 2px solid #e5e5df;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
  position: relative;
}

.my__nobles {
  position: absolute;
  bottom: 90px;
  border-style: solid;
  border-color: black;
  background-color: #aaa;
  padding: 2px;
}

.my__cards {
  position: absolute;
  bottom: 90px;
  border-style: solid;
  background-color: #aaa;
  padding: 2px;
}

.card__tray {
  display: flex;
}

.card__stack {
  display: inline-block;
  width: 20%;
}

.groove:hover {
  border: 2px solid #000;
}

.groove {
  background: #aaa;
  margin: auto;
  height: 90%;
  width: 90%;
  padding: 5%;
  border: 2px solid transparent;
  border-radius: 5%;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.25);
}

.player__name {
  display: inline-block;
}

.player__items {
  display: flex;
}

.coin:hover {
  border: 1px solid #66ff66;
}

.coin {
  margin: 1%;
  padding: 5%;
  border-radius: 10px;
  border: 1px solid transparent;
}

.level {
  display: flex;
  border: dashed 4px #ddd;
  padding: 1%;
}

.deck {
  background: #ddd;
  padding: 2% 2% 2% 2%;
  margin: 2% 2% 2% 2%;
  border: 2px solid #e5e5df;
  border-radius: 10px;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.25);
}

.card {
  flex-grow: 1;
  background: #ddd;
  position: relative;
  padding: 2% 2% 2% 2%;
  margin: 2% 2% 2% 2%;
  border: 2px solid #e5e5df;
  border-radius: 10px;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.25);
  height: 90%;
}

.noble__list {
  display: flex;
  justify-content: flex-end;
}

.noble__box {
  display: inline-block;
  width: 20%;
}

.level__box {
  display: block;
  border: 2px solid transparent;
  flex-grow: 1;
}

.level__box__buyable {
  display: inline-block;
  border: 2px solid transparent;
  width: 23%;
}

.level__box__buyable:hover {
  border: 2px solid #66ff66;
  border-radius: 10px;
  background-color: #66ff66;
}

.noble {
  margin: 2%;
  border-radius: 2%;
  height: 95%;
}

.prestige {
  display: inline-block;
  font-weight: 800;
  font-size: 400%;
  -webkit-text-stroke: 3px black;
  color: white;
  margin: 2%;
}

.cost {
  display: inline-block;
  text-align: center;
  font-weight: 800;
  font-size: 100%;
  -webkit-text-stroke: 1px black;
  padding: 2%;
  margin: 2%;
  width: 10%;
  border-radius: 10px;
}

.jewel {
  height: 20px;
  width: 20px;
  margin: 2%;
  border-radius: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

.spinner {
  position: fixed;
  opacity: 0.5;
  top: 0;
  right: 0;
  height: 10%;
  width: 5%;
}

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  border: 3px solid #73AD21;
  background-color: rgba(202,232,202,0.5);
  z-index: 100;
}

.centered {
  text-align: center;
}
